body{
	margin: 0;

}
#nav{
	height: 100px;
	text-align: center;

}

.fa-bars{
	position: relative;
    left: 20em;
    bottom: 0.8em;
    font-size: 25px;
}
.fa-bars:hover{
	color:#ffc107;

}

h1{
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 24px;
	margin-left:2em;
	display: inline-block;
}
.fa-chevron-circle-down{
	font-size: 30px;
	text-align: left;
	margin-left: 1em;

}
.fa-chevron-circle-down:hover{
	color: #ffc107;
}


#sede{
	cursor: pointer;
}
.submenu ul li{

	font-family: 'Montserrat', sans-serif;
	list-style: none;
	display: inline-block;
	font-weight: bold;
	margin-left: 1em;
	color: black;

}

li:hover{
	text-decoration:underline;
	color: #ffc107;
	cursor: pointer;
}
li a{
	text-decoration: none;
	color: black;
}
li a:hover{
	text-decoration: underline;
	color: black;
	color: #ffc107;
	cursor: pointer;
}



.logo{
	padding: 1em;
}
#menu{
	background: #F5DA81;
}

.nav2{
	background-color: grey;
	position: fixed;
	height: 120px;
	width: 100%;
	z-index: 2000;
	margin-top: 0;
}

.logo2{
	margin-top: 1em;
}



.user{
	width: 80px;
	height: 80px;
	text-align: none;
	visibility: hidden;
}

.user2{
	visibility: visible;
	width: 80px;
	height: 80px;
	position: relative;
    right: 28em;
    top: 0.5em;
    border-radius: 50%;
    border: 2px solid white;
}
#top_x_div{
	margin-left: 4em;
	margin-top: 0em;
	font-family: 'Montserrat', sans-serif;
	margin-top: 1em;

}

h3{
	margin-left: 5em;
	font-family: 'Montserrat', sans-serif;
	margin-top: 2em;
	margin-bottom: 0;
}

.enrolled{
	width: 110px;
	height: 60px;
	background: #E2D9D9;
	display: inline-block;
	margin-left: 3em;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.left{
margin-left: 6em;
}
h2{
	margin-bottom: 0;
	margin-top: 0;
}
h6{
	margin-top: 0;
}
.allmenu{
	width: 400px;
	height: auto;
	background: RGB(245,218, 129);opacity: 0.9;
	z-index: 1000;
	position: absolute;
	top: 10em;
    left: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 1.5em;
}
.lima{
	margin-left: 16.5em;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	cursor: pointer;
	color: red;
	border: 1px solid red;
	border-radius: 1em;
	padding-left: 0.5em;
	margin-top: 0.5em;
	margin-right: 0.5em;
}

.lista{
	display: block;
}

.limamenu,.limatext1{
	display: inline-block;
}

.title{
	font-size: 1.5em;
	margin-top: 1em;
}

.hr1{
	height: 2px;
   border: 0;
   color: orange;
   background-color:orange;
	width: 250px;
	margin-left: 0;
}

.sedes{
	list-style: none;
}

.datauserhidden{
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color:#F5DA81;
	visibility: hidden;
	position: absolute;
    top: 0.7em;
    left: 11em;
}

.dataname{
	margin-bottom: 0.5em;
}

.datauservisible{
	visibility: visible;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color:#F5DA81;
	position: absolute;
    top: 0.7em;
    left: 11em;


}
.lenguaje{

    position: absolute;
    font-family: 'Montserrat', sans-serif;
    top: 0.5em;
    font-size: 0.8em;
    right: 20em;
    cursor: pointer;

}

.lenguajelist{
	display: none;
}

.lenguajelist2{
	display: inline-block;
	position: absolute;
    left: 78em;
    top: 2em;
    background:#D0CECE;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    margin:0;
    padding: 0;
}

.idiomas{
	display: block;
    border-bottom: 1px solid grey;
   width: 100px;
}

.fa-times{
	color:red;

}

.links{
	display: block;
	text-decoration: none;
	color: black;
}

.links:hover{
	background: #F5DA81;
}

.barmenu{
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding:0;
	display: none;

}

.barlist{
	display: inline-block;
	border: 1px solid black;
	background: #C3C3C3;
	margin-left: 1em;
}
.barmenu2{
	display: inline-block;
	position: absolute;
	top: 4.3em;
}


.achi{
	/*background-color: red;*/
	width: 240px;
	position: relative;
	bottom: 600px;
	left: 500px;
	text-align: left;
	display: block;
	font-family: 'Montserrat', sans-serif;
}


.achi h3{
	/*background-color: #E2D9D9;*/
	color: black;

	text-align: left;
}

.achi,h2 h6{
	text-align: left;
	color: #04B404;

}


#chart_div{
font-family: 'Montserrat', sans-serif;
margin-left:400px;
position: relative;
bottom:  625px;
}


.NET{
	/*background-color: red;*/
	width: 450px;
	height: 85px;
	position: relative;
	bottom: 1010px;
	left: 850px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
}

.NET h6{
	background-color: #E2D9D9;
	display: inline-block;
	position: relative;
	left: 250px;
	bottom: 55px;

}

.NET h2{
color: #04B404;
background-color:#E2D9D9;
width: 100px;
height: 50px;
position: relative;
top: 0px;
left: 50px;
text-align: center;
padding: 3px;
}

#chart_div1{
	font-family: 'Montserrat', sans-serif;
	margin-left:810px;
	position: relative;
	bottom:  1029px;
	}
