
body{
	margin: 0;

}
nav{
	height: 100px;
	text-align: center;
	color:#3c4858;

}

.fa-bars{
	position: relative;
    left: 20em;
    bottom: 0.8em;
    font-size: 25px;
}
.fa-bars:hover{
	color:#ffc107;

}

h1{
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 24px;
	margin-left:2em;
	display: inline-block;
}
.fa-chevron-circle-down{
	font-size: 30px;
	text-align: left;
	margin-left: 1em;

}
.fa-chevron-circle-down:hover{
	color: #ffc107;
}


#sede{
	cursor: pointer;
}
.submenu ul li{
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	display: inline-block;
	font-weight: bold;
	margin-left: 1em;
}

li:hover{
	text-decoration:underline;
	color: #ffc107;
	cursor: pointer;
}


.logo{
	padding: 1em;
}

#menu{
	background: #F5DA81;
}
.nav2{
	background-color: grey; 
	position: fixed;
	height: 120px;
	width: 100%;
	z-index: 2000;
	margin-top: 0;
}

.logo2{
	margin-top: 1em;
}



.user{
	width: 80px;
	height: 80px;
	text-align: none;
	visibility: hidden;
}

.user2{
	visibility: visible;
	width: 80px;
	height: 80px;
	position: relative;
    right: 28em;
    top: 0.5em;
}
#top_x_div{
	margin-left: 3em;
}
