* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #F8AF30;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: orange;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 33em;
    left: 45em;
    width: 100%;
    text-align: center;
    background: rgba(18, 46, 58, 0.52);
    width: 300px;
    height: auto;
    border-radius: 2em;
    border: 2px solid white;
}
.text:hover{
  background:rgba(203, 203, 203, 0.52);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #F8AF30;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.premios{
  position: absolute;
  bottom: 26em;
  left: 1em;
  background: orange;
  border-radius: 50%;
}
.logos{
  position:absolute;
  width: 10%;
  bottom: 27em;
  left: 48em;

}
.logolab{
  position: absolute;
  width: 25%;
  bottom: 2em;
  left: 1em;

}


.premios2{
  position: absolute;
  bottom: 26em;
  left: 14em;
  border-radius: 50%;
  background: orange;
}
.link{
  cursor: pointer;
  color:blue;
}
.techskill{
  position: absolute;
  color: orange;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  background: rgba(18, 46, 58, 0.52);
  width: 100px;
  height: auto;
  border-radius: 2em;
  border: 2px solid white;
  top: 11em;
  left: 48em;

}
.techskill span{
  margin-top: 1em;
  display: block;
  font-size: 1.5em;
}
.techskill h6{
margin-top: 0;
font-size: 1em;
}
.lifeskill{
  position: absolute;
  color: orange;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  background: rgba(18, 46, 58, 0.52);
  width: 100px;
  height: auto;
  border-radius: 2em;
  border: 2px solid white;
  top: 11em;
  left: 55em;

}
.lifeskill span{
  margin-top: 1em;
  display: block;
  font-size: 1.5em;
}
.lifeskill h6{
margin-top: 0;
font-size: 1em;
}
.engskill{
  position: absolute;
  color: orange;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  background: rgba(18, 46, 58, 0.52);
  width: 120px;
  height: auto;
  border-radius: 2em;
  border: 2px solid white;
  top: 18.5em;
  left: 50em;

}

.engskill:hover,.lifeskill:hover,.techskill:hover{
  background: rgba(203, 203, 203, 0.52);
}
.engskill span{
  margin-top: 1em;
  display: block;
  font-size: 1em;
}
.engskill h6{
margin-top: 0;
font-size: 0.7em;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}